In [1]:
import pandas as pd

In [5]:
data = list(pd.read_csv('label.csv').iloc[:,0])

In [7]:
data2 = pd.read_csv('ADNI1.csv')

In [9]:
for i in range(data2.shape[0]):
    data2.iloc[i,1] = data2.iloc[i,1][5:15]

In [10]:
data2

,path,filename,age,gender,education,hispanic,race,apoe,NC,MCI,...,his_PSYCDIS,his_Alcohol,his_SMOKYRS,his_PACKSPER,his_NACCFAM,his_CBSTROKE,his_HYPERTEN,his_DEPOTHR,gds,moca
0,/gemini/data-2/ADNInpy/,002_S_0295,85,male,18,2,whi,1,1,0,...,0,0,NaN,NaN,1,0,0,0,1,NaN
1,/gemini/data-2/ADNInpy/,002_S_0413,77,female,16,2,whi,0,1,0,...,0,0,NaN,NaN,1,0,0,0,0,NaN
2,/gemini/data-2/ADNInpy/,002_S_0559,79,male,16,2,whi,1,1,0,...,0,0,NaN,NaN,1,0,0,0,2,NaN
3,/gemini/data-2/ADNInpy/,002_S_0619,78,male,12,2,whi,1,0,0,...,1,1,NaN,NaN,1,0,0,0,4,NaN
4,/gemini/data-2/ADNInpy/,002_S_0685,90,female,16,2,whi,0,1,0,...,0,0,NaN,NaN,1,0,1,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,/gemini/data-2/ADNInpy/,941_S_1202,78,male,18,2,whi,0,1,0,...,0,0,NaN,NaN,1,0,0,0,0,NaN
763,/gemini/data-2/ADNInpy/,941_S_1203,84,male,15,2,whi,0,1,0,...,0,0,NaN,NaN,1,0,0,0,1,NaN
764,/gemini/data-2/ADNInpy/,941_S_1295,77,male,16,2,whi,1,0,1,...,0,0,NaN,NaN,1,0,1,0,1,NaN
765,/gemini/data-2/ADNInpy/,941_S_1311,69,male,12,2,whi,1,0,1,...,0,1,NaN,NaN,1,0,1,0,1,NaN
766,/gemini/data-2/ADNInpy/,941_S_1363,70,female,12,2,whi,1,0,1,...,1,0,NaN,NaN,1,0,1,0,2,NaN